


.jumbotron {
  padding-top: 2rem ;
  background-color:rgb(178, 230, 230)
}
#footer{
  color:white;
}

 #creation{
    background-color:rgb(178, 230, 230)
}
#about{
  background-color:
  font-family: verdana;
}


